.catalog {
  display: flex;
  margin-bottom: 71px;
}

.slim {
  background-color: rgb(243, 243, 243);
  width: 570px;
  height: 374px;
  margin-left: 110px;
}

.slim__container {
  display: flex;
  align-items: center;
  gap: 62px;
  margin-bottom: 39px;
}

.slim__logo {
  width: 100px;
  height: 100px;
  margin-top: 47px;
  margin-left: 52px;
}

.slim__logo-pro {
  width: 134px;
  margin-top: 47px;
  margin-left: 52px;
}

.slim__title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
}

.slim__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 51px;
  margin-bottom: 23px;
  margin-left: 52px;
}

.slim__mark {
  font-size: 20px;
  font-weight: 400;
  line-height: 29.64px;
  text-transform: uppercase;
  margin-left: 52px;
  margin-right: 25px;
}