footer {
  min-width: 1440px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  width: 1220px;
  padding-top: 57px;
  padding-bottom: 57px;
  margin-left: 110px;
}

.footer__menu-list {
  display: flex;
  gap: 25px;
}

.footer__text {
  margin-right: 22px;
  color: black;
}

.footer__logo-link {
  display: flex;
}
