.live {
  min-width: 100%;
}

.live_content {
  width: 436px;
  height: 96px;
  margin-left: 110px;
  margin-bottom: 69px;
}

.live__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;  
  margin-left: 110px;
  margin-bottom: 76px;
}

.live__container {
  background-color: #F2F2F2;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.live__container-wrapper {
  display: flex;
  margin-left: 110px;
}

.live__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 70px;
}

.live__content-mini {
  display: flex;
  flex-direction: column;
  width: 162px;
  height: 77px;
  margin-right: 42px;
  align-items: center;
  border: 1px solid #CDCDCD
}

.live__block-text {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  position: relative;
  margin-top: 15px;
  text-transform: uppercase;
}

.live__low-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  position: absolute;
  transform: translateY(67px);
  background-color: #fff;
}

.live__cost-section {
  display: flex;
  width: 436px;
  margin-left: 110px;
  margin-top: 55px;
}

.live__cost-text,
.live__cost-value {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.live__cost-text {
  margin-right: 63px;
}

.live__content-switch {
  width: 690px;
}

/*
 Slider cat как то так
*/

.live__content-switch {
  position: relative;
}

.live_slider-container {
  display: flex;
  justify-content: space-between;
}

.live__before, .live__after {
  width: 100%;
  height: auto;
}

.live__after {
  position: absolute;
  top: 0;
  left: 0;
}

input[type="range"] {
  width: 528px;
}

.live__text-before, .live__text-after {
  text-align: center;
  margin-right: 15px;
}
