.welcome {
  max-height: 429px;
  margin-bottom: 82px;
}

.welcome__h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 3.5rem;
  margin-left: 190px;
  margin-bottom: 40px;
}

.welcome__text {
  margin-left: 190px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.welcome__btn {
  min-width: 244px;
  min-height: 54px;
  margin-left: 190px;
  border: 0;
  text-transform: uppercase;
  background: #7edc43;
  color: #fff;
  cursor: pointer;/* 
  z-index: 10; */
  position: relative;
}

button {
  transition: transform 0.5s ease;
}

button:hover {
  transform: scale(1.2);
  
}

.cup {
  display: block;
  min-width: 552px;
  min-height: 499px;
  transform: translate(560px, -378px);/* 
  z-index: -2; */
}