.welcome {
  height: 562px;
}

.welcome__h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 3.5rem;
  margin-left: 190px;
  margin-bottom: 40px;
}

.welcome__text {
  margin-left: 190px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.welcome__btn {
  width: 244px;
  height: 54px;
  margin-left: 190px;
  border: 0;
  text-transform: uppercase;
  background: #68B738;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

button:hover {
  transform: scale(1.5);
}

.cup {
  display: block;
  width: 552px;
  height: 499px;
  transform: translate(560px, -320px);
  z-index: -2;
}