*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.5;
}

ul {
  list-style: none;
}